/*
====================================
    Task elements. [task]
====================================
*/
*[class~="task/task"]{
	display: block;
	margin: 0.5em 0;
	padding-left: 0.5em;
}
*[class~="task/taskbody"]{
    display: block;
}

*[class~="task/task"] > *[class~="topic/title"]{
	font-size: 1.8em;
    color:#006666;
    background-color:inherit;
    border-bottom: thin solid #006666;
}

/*
    Reduce the font size.
*/
*[class~="task/task"] > *[class~="topic/title"]{
	font-size: 1.8em;
	border-bottom:1px solid;
}

* *[class~="task/task"] > *[class~="topic/title"]{
	font-size: 1.6em;
	border-bottom:1px solid;
}

* * *[class~="task/task"] > *[class~="topic/title"]{
	font-size: 1.4em;
	border-bottom:none;
}

* * * *[class~="task/task"] > *[class~="topic/title"]{
	font-size: 1.2em;
}

* * * * *[class~="task/task"] > *[class~="topic/title"]{
	font-size: 1em;
}


*[class~="task/prereq"],
*[class~="task/postreq"],
*[class~="task/context"],
*[class~="task/result"],
/*
    The information element (<info>) occurs 
    inside a <step> element to provide additional 
    information about the step.
*/
*[class~="task/info"],
*[class~="task/tutorialinfo"],
*[class~="task/stepxmp"],
*[class~="task/stepresult"]{
    display:block;
}


*[class~="task/prereq"]:before,
*[class~="task/postreq"]:before,
*[class~="task/context"]:before,
*[class~="task/result"]:before,
*[class~="task/info"]:before,
*[class~="task/tutorialinfo"]:before,
*[class~="task/stepxmp"]:before,
*[class~="task/stepresult"]:before{
    display:block;
    font-weight:bold;
    color:#444444;
    background-color:inherit;
}


*[class~="task/prereq"]:before{
    content: "Pre-requisites: ";
}
*[class~="task/postreq"]:before{
    content: "Post-requisites: ";
}
*[class~="task/context"]:before{
    content: "Context: ";
}
*[class~="task/result"]:before{
    content: "Result: ";
}
*[class~="task/info"]:before{
    content: "Info: ";
}

/*
    The tutorial info (<tutorialinfo>) element 
    contains information that is included in a 
    step when a task is part of a tutorial. 
*/
*[class~="task/tutorialinfo"]:before{
    content: "Tutorial Info: "
}

/*
    The step example (<stepxmp>) element is 
    used to illustrate a step of a task. 
*/
*[class~="task/stepxmp"]:before{
    content: "Step Example: ";
}

*[class~="task/stepresult"]:before{
    content: "Step Result: ";
}


*[class~="task/choices"],
*[class~="task/substeps"],
*[class~="task/steps-unordered"],
*[class~="task/steps"] {
    display:block;
    margin-left: 1em;
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}


/*
    Using counters. the steps are ordered.
*/
*[class~="task/steps"] {
    counter-reset:step-count;
}

*[class~="task/steps"] > *[class~="task/step"]{
    display:block;
    margin-left:1em;
    margin-top:0.8em;
    margin-bottom:0.8em;    
}

*[class~="task/steps"] > *[class~="task/step"]:before{
    content: "Step " counter(step-count) ;
    counter-increment:step-count;
    background-color:inherit;
    margin:0.5em 0;
    font-weight:bold;
}

*[class~="task/cmd"] {
    display:block;
}

/*
    The steps-unordered element is just a list
*/
*[class~="task/steps-unordered"] > *[class~="task/step"]{
    display:list-item;
    list-style-type:disc;
}


/*
    Now the substeps.
*/

*[class~="task/substeps"]{
    counter-reset:substep-count;
    margin-left:2em;
}

*[class~="task/substep"]{
    display:block;
    margin-top:0.5em;
    margin-left:1em;
}

*[class~="task/substeps"]>*[class~="task/substep"]:before{
    content:counter(substep-count, lower-alpha) ". Sub-step ";
    counter-increment:substep-count;
    color:#004499;
    background-color:inherit;
    border-bottom: 1px solid #2266CC;
    margin-left:20px;
}

/*
    The choices.
*/
*[class~="task/choice"]{
    display:block;
    margin-left:1.2em;
}
*[class~="task/choice"]:before{
    content:">";
    font-size:small;
    color:navy;
    background-color:inherit;
    text-align:center;
}    

*[class~="task/choicetable"]{
    display:table;
    border-spacing:1px;
    border: 1px solid #A2EEA2;
}

*[class~="task/chhead"],
*[class~="task/chrow"]{
    display:table-row;
}

*[class~="task/choptionhd"],
*[class~="task/chdeschd"],
*[class~="task/choption"],
*[class~="task/chdesc"] {    
    display: table-cell;
    padding: 2px;
    border: 1px solid #A2EEA2;    
}

*[class~="task/choptionhd"],
*[class~="task/chdeschd"] {
    background-color: #C2EEC2;
    color:inherit;
}